
  .container2 {
      display: flex;
      /* flex-wrap: wrap; */
      justify-content: center;
      gap: 5px;
      padding: 20px;
  }

  .container {
      border: 2px solid black;
      height: 480px;
      width: 200px;
      border-radius: 30px;
      background-color: transparent;
      transition: transform 0.5s ease;
      display: flex;
      flex-direction: column;
  }

  .container:hover {
      transform: scale(1.075);
  }

  .box {
      margin-left: 10px;
      margin-bottom: 10px;
  }

  .box1 {
      background-color: #555;
      width: 25px;
      height: 25px;
      border-radius: 50%;
      margin-left: 20px;
      margin-top: 10px;
  }

  .box2 {
      font-weight: 700;
      font-size: 20px;
      margin-top: 20px;
      height: 50px;
  }

  .box3 {
      font-size: 24px;
  }

  .box4 {
      height: 200px;
      width: 200px;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
  }

  .box5 p {
      font-size: 20px;
  }

  .assign {
      width: 150px;
      height: 29px;
      background-color: #ddd;
  }

  .small-box {
      text-align: right;
      padding-top: 5px;
      padding-bottom: 5px;
      background-color: #f9bd45;
  }

  .skill {
      width: 160px;
      height: 160px;
      position: absolute;
  }

  .outer {
      height: 160px;
      width: 160px;
      border-radius: 50%;
      padding: 20px;
      box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15), -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
      position: absolute;
      left: 4px;
  }

  .inner {
      height: 120px;
      width: 120px;
      border-radius: 50%;
      box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2), inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7), -0.5px -0.5px 0px rgba(255, 255, 255, 1), 0.5px 0.5px 0px rgba(0, 0, 0, 0.15), 0px 12px 10px -10px rgba(0, 0, 0, 0.15);
      display: flex;
      align-items: center;
      justify-content: center;
  }

  .number {
      font-weight: 600;
      color: #555;
  }

  .circle {
      fill: none;
      stroke: url(#GradientColor);
      stroke-width: 20px;
      stroke-dasharray: 472;
      transition: anim 2s linear ease;
  }
  svg{
    position: absolute;
    top: 0;
    left: 2px;
  }
  /* @keyframes anim {
      100% {
          stroke-dashoffset: var(--dashOffset);
      }
  } */

  .box6 {
      margin-top: auto;
      padding: 10px;
      text-align: center;
  }